/*
**/.env
**/.env.*
!/.github/
!/.scripts/
!/FinanceFrontEnd/
!/FinanceBackEnd/
!/.infra/
/.infra/funds/dataprotection/**

**/node_modules/

!.editorconfig
!.prettierignore
!.prettierrc

/sql
**/bin
**/obj
**/.vs

/**/.vscode
!/.vscode

**/.env.*

finance-backend.tar
finance-frontend.tar
secrets.local.env

**/dataprotection/key-*.xml

!.bin

*.log
**/*.log