/*
**/.env
**/.env.*
!/.github/
!/FinanceFrontEnd/
!/FinanceBackEnd/
!/Infra/
/Infra/Funds/dataprotection/**

/sql
**/bin
**/obj
**/.vs

/**/.vscode
!/.vscode

**/.env.*

finanzas.sln

finance-backend.tar
finance-frontend.tar
secrets.local.env

**/dataprotection/key-*.xml

!.bin