services:
  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=finance
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

  backend:
    build:
      context: ../../../FinanceBackEnd
      dockerfile: Finance.Api/Dockerfile
      args:
        BUILD_CONFIGURATION: Debug
    env_file:
      - .env
    ports:
      - "5000:5000"
    restart: unless-stopped
    volumes:
      - ./dataprotection:/root/.aspnet/DataProtection-Keys
    depends_on:
      - redis
      - postgres

volumes:
  redis-data:
  postgres-data:
networks:
  default:
    name: shared_network
    driver: bridge
