services:
  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=finance
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

  backend:
    build:
      context: ../../../FinanceBackEnd
      dockerfile: Finance.Api/Dockerfile
      args:
        AdminUser__DefaultFirstName: ${AdminUser__DefaultFirstName}
        AdminUser__DefaultLastName: ${AdminUser__DefaultLastName}
        AdminUser__DefaultUsername: ${AdminUser__DefaultUsername}
        AdminUser__EnableSeeding: ${AdminUser__EnableSeeding}
        AdminUser__UserId: ${AdminUser__UserId}
        ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
        Auth0__Application__ClientId: ${Auth0__Application__ClientId}
        Auth0__Application__ClientSecret: ${Auth0__Application__ClientSecret}
        Auth0__Audience: ${Auth0__Audience}
        Auth0__Domain: ${Auth0__Domain}
        Auth0__ManagementApi__ClientId: ${Auth0__ManagementApi__ClientId}
        Auth0__ManagementApi__ClientSecret: ${Auth0__ManagementApi__ClientSecret}
        Auth0__RedirectUri: ${Auth0__RedirectUri}
        ConnectionStrings__PostgresDb: ${ConnectionStrings__PostgresDb}
        Urls__Http: ${Urls__Http}
    environment:
      - AdminUser__DefaultFirstName=${AdminUser__DefaultFirstName}
      - AdminUser__DefaultLastName=${AdminUser__DefaultLastName}
      - AdminUser__DefaultUsername=${AdminUser__DefaultUsername}
      - AdminUser__EnableSeeding=${AdminUser__EnableSeeding}
      - AdminUser__UserId=${AdminUser__UserId}
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - Auth0__Application__ClientId=${Auth0__Application__ClientId}
      - Auth0__Application__ClientSecret=${Auth0__Application__ClientSecret}
      - Auth0__Audience=${Auth0__Audience}
      - Auth0__Domain=${Auth0__Domain}
      - Auth0__ManagementApi__ClientId=${Auth0__ManagementApi__ClientId}
      - Auth0__ManagementApi__ClientSecret=${Auth0__ManagementApi__ClientSecret}
      - Auth0__RedirectUri=${Auth0__RedirectUri}
      - ConnectionStrings__PostgresDb=${ConnectionStrings__PostgresDb}
      - Urls__Http=${Urls__Http}
    ports:
      - "5000:80"
    restart: unless-stopped
    volumes:
      - ./dataprotection:/root/.aspnet/DataProtection-Keys
    depends_on:
      - redis
      - postgres

  frontend:
    build:
      context: ../../../FinanceFrontEnd/FinanceRemix
      dockerfile: Dockerfile
      args:
        AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
        AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID}
        AUTH0_DOMAIN: ${AUTH0_DOMAIN}
        AUTH0_SCOPES: ${AUTH0_SCOPES}
        BASE_URL: ${BASE_URL}
    environment:
      - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
      - REDIS_URL=${REDIS_URL}
      - USER_SESSION_SECRET=${USER_SESSION_SECRET}
      - PORT=5300
    ports:
      - "5300:5300"
    restart: unless-stopped
    depends_on:
      - redis
      - backend

volumes:
  redis-data:
  postgres-data:
