<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarSuppress" ToolsVersion="16.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.Rules">
    <!-- disable S125 -->
    <Rule Id="S125" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Disable spacing rules -->
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1010" Action="None" />
    <Rule Id="SA1026" Action="None" />
    <Rule Id="SA1027" Action="None" />
  </Rules>
</RuleSet>
