/* Backgrounds */
.violet-bg {
  background-color: blueviolet !important;
}

.orange-bg {
  background-color: green !important;
}

.red-bg {
  background-color: red !important;
}

.blue-bg {
  background-color: blue !important;
}

.tomato-bg {
  background-color: tomato !important;
}

.lime-bg {
  background-color: lime !important;
}

.coral-bg {
  background-color: coral !important;
}

.brown-bg {
  background-color: brown !important;
}

.crimson-bg {
  background-color: crimson !important;
}

.cornflowerblue-bg {
  background-color: cornflowerblue !important;
}

.darkmagenta-bg {
  background-color: darkmagenta !important;
}

.deeppink-bg {
  background-color: deeppink !important;
}

.goldenrod-bg {
  background-color: goldenrod !important;
}

.indianred-bg {
  background-color: indianred !important;
}

.indigo-bg {
  background-color: indigo !important;
}

.mediumpurple-bg {
  background-color: mediumpurple !important;
}
