.violet-bg {
    background-color: blueviolet!important;
    color: white!important;
}

.orange-bg {
    background-color: green!important;
    color: white!important;
}

.red-bg {
    background-color: red!important;
    color: white!important;
}