@mixin bg-setting($background, $text: white) {
    background-color: $background !important;
    color: $text !important;
}

// Backgrounds
.violet-bg {
    @include bg-setting(blueviolet);
}

.orange-bg {
    @include bg-setting(green);
}

.red-bg {
    @include bg-setting(red);
}

.blue-bg {
    @include bg-setting(blue);
}

.tomato-bg {
    @include bg-setting(tomato);
}

.lime-bg {
    @include bg-setting(lime);
}