name: Continuous Integration

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 7.0.x
      - name: Secrets injection in appsettings.json
        uses: microsoft/variable-substitution@v1
        with:
          files: "**/appsettings.json"
        env:
          ConnectionStrings.PostgresDb: "${{ secrets.DB_CONNECTION }}"
      - name: Build with dotnet
        run: dotnet build
        working-directory: FinanceApi
      - name: Apply database migrations
        run: |
          dotnet tool install --global dotnet-ef
          dotnet tool restore
          dotnet ef database update
        working-directory: FinanceApi
      # - name: Test
      #   run: dotnet test
      #   working-directory: FinanceApi
