name: Continuous Integration

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 7.0.x
      - name: List content
        run: ls
      - name: Build with dotnet
        run: dotnet build
        working-directory: FinanceApi
      # - name: Test
      #   run: dotnet test
      #   working-directory: FinanceApi
